body{ 
    font-family: 'Montserrat'; 
}

p{
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

h2{ 
    font-size: 2em;
} 

$text-color-main: #ffffff;

$h1: 4em;

//------------WELCOME------------

$welcome_p_font_size: 1.5em;

//------------FOOTER------------

$footer-font-size: 0.65em;