//------------NAV------------

$nav-padding-top: 15px;

//------------CONTACT------------

$contact-footer-padding: 15px;
$contact-footer-bg-color: #001560;
$el__img--padding-right: 5px;

//------------ABOUT------------

$about__title--color: #282828;
$about__caption--color: #707070;
$about--padding-top: 130px;
$about--padding-bottom: 100px;
$about__title--padding-bot: 30px;

//------------SERVICES------------

$services__container--width: 14%;
$services__container--padding-right: 9.5%;
$services__icon--padding-top: 65px;
$services__icon--padding-bot: 50px;

//----small devices----

$services__container-sm--padding-right: 28%;
$services__container-sm--width: 19%;

//------------RANGE------------

$range--padding-top-bot: 220px;
$range__text-container: 20px;
$range__text--padding-right: 5%;
$range__title--padding-bot: 70px;

//------------FOOTER------------
