//------------NAV------------

$nav-padding-top: 15px;

//------------CONTACT------------

$contact-footer-padding: 15px;
$contact-footer-bg-color: #001560;
$el__img--padding-right: 5px;

//------------ABOUT------------

$about__title--color: #282828;
$about__caption--color: #707070;
$about--padding-top: 140px;
$about--padding-bottom: 100px;
$about__title--padding-bot: 30px;

//------------SERVICES------------

$services__container--width: 18%;
$services__container--padding-right: 5.5%;
$services__icon--padding-top: 75px;
$services__icon--padding-bot: 50px;

//------------RANGE------------

$range--padding-top-bot: 280px;
$range__title--padding-bot: 80px;