@import "fonts";
@import "variables";

img {
    max-width:100%;
    height:auto;
}

a:link{
    color: $text-color-main;
}

.flex{
    display: flex;
}

@media (max-width: 1200px) { 
    .flex{
        display: block;
    }
}

.container-bg{
  padding-left: 6%;
  padding-right: 6%;
  height: 100%;
}

.container-sm{
  padding-left: 12%;
  padding-right: 12%;
}

.nav-button{
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.nav__links-container{
    width: 59.5%;
}

.nav__logo-container, .welcome__text{
    width: 39.5%;
}


//------------NAV------------

.nav{
    display: flex;
    min-height: 50px;
    padding-top: $nav-padding-top;
}

.nav__logo-container{
}

.nav__links-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.nav__links{
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
}

.nav__links li a{
    color: $nav--color;
}

.nav__links li{
    float: left;
    -webkit-transition: all 150ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 150ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1);
    transition: all 150ms ease-in;
    transform: scale(1);
}
    
@media (min-width: 992px) {
    .nav__links li:hover{
        z-index: 2;
        -webkit-transition: all 150ms ease-in;
        -webkit-transform: scale(1.15);
        -ms-transition: all 150ms ease-in;
        -ms-transform: scale(1.15);   
        -moz-transition: all 150ms ease-in;
        -moz-transform: scale(1.15);
        transition: all 150ms ease-in;
        transform: scale(1.15);
    }
}

.nav li a{
    display: block;
    padding: 14px 16px;
    color: $text-color-main;
}



//------------WELCOME------------

.welcome{
    background-image: url(../../public/image/welcome2.jpg);
    background-size: cover;
    background-position: top center;
    min-height: 107vh;
    color: $text-color-main;
}

@media (max-width: 1150px) {
    .welcome{
        padding-bottom: 132px;
    }
}

.welcome-container{
    position: relative;
}

.welcome__text{
    display: inline-flex;
    min-height: 75vh;
    flex-direction: column;
    justify-content:center;
}

@media (max-width: 768px) {
    .welcome__text{
        width: 80%;
    }
}

.welcome__title{
    font-weight: bold;
    font-size: $h1;
}

@media (max-width: 992px) { 
    .welcome__title{
        font-size: $h1--sm;
    }
}

.welcome__caption{
    font-size: $welcome_p_font_size;
}

.welcome__link-list{
    display: inline-flex;
    width: 55.5%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

@media (max-width: 768px) {
    .welcome__link-list{
        width: 20%;
    }
}

.link-list__item{
    display: block;
    margin-bottom: 50px;
}

//------------CONTACT------------

.contact{
    background-color: $contact-footer-bg-color;
    color: $text-color-main;
}

.contact-container{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-left: 6%;
    padding-right: 0;
    height: 100%;
}

.contact__elements{
  display: inline-flex;
  align-items: center;
}

@media (max-width: 700px) {
    .contact__elements{
        display: block !important;
    }
}

.contact__el{
    display: flex;
    align-items: center;
    padding-top: $contact-footer-padding;
    padding-bottom: $contact-footer-padding;
    padding-right: 60px;
}

.el__img{
    padding-right: $el__img--padding-right;
}

.contact__big-button{
    display: inline-flex;
    background-color:  rgba(255, 255, 255, 0);
    position: absolute;
    height: 132px;
    padding: 0;
    align-self: flex-end;
    overflow-y: hidden;
}


@media (max-width: 1150px) {
    .contact__big-button{
        bottom: 50px;
    }
}

@media (max-width: 700px) {
    .contact__big-button{
        bottom: 100px;
        max-width: 100%;
        height: 102px;
    }
}

.big-button__image{
    background-color: $big-button__image;
    padding-left: $big-button__image--padding-left-right;
    padding-right: $big-button__image--padding-left-right;
    padding-top: 60px;
    padding-bottom: 60px;
    max-height: 120px;
}

@media (max-width: 700px) {
    .big-button__image{
        padding-left: $big-button__image--padding-left-right--sm;
        padding-right: $big-button__image--padding-left-right--sm;
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

.big-button__text{
    display: flex;
    align-self: center;
    color: black;
    background-color: $big-button__text;
    padding-left: $big-button__text--padding-left-right;
    padding-right: $big-button__text--padding-left-right;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 700px) {
    .big-button__text{
        padding-left: $big-button__text--padding-left-right--sm;
        padding-right: $big-button__text--padding-left-right--sm;
    }
}

.nav-link{
    padding-right: 0.67rem !important;
    padding-left: 0.67rem !important;
}

//------------ABOUT------------

.about{
    padding-top: $about--padding-top;
    padding-bottom: $about--padding-bottom;
}

.about__title{
    padding-bottom: $about__title--padding-bot;
    color: $about__title--color;
}

.about__caption{
    color: $about__caption--color;
}



//------------SERVICES------------

.services-all{
    display: flex;
}

@media (max-width: 768px) {
    .services-all{
        display: block;        
    }
}

.services__container{
    display: inline-flex;
    flex-direction: column;
    padding-right: $services__container--padding-right;
    width: $services__container--width;
}

@media (max-width: 768px) {
    .services__container {
        padding-right: $services__container-sm--padding-right;
        width: $services__container-sm--width;
    }
}

.services__icon{
    padding-top: $services__icon--padding-top;
    padding-bottom: $services__icon--padding-bot;
    align-self: flex-start;
    max-width: none;
}

//------------RANGE------------
.range__text-container{
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: padding-box;
    width: 49.5%;
    padding-right: $range__text--padding-right;
    padding-bottom: 20px;
}

@media (max-width: 1200px) {
    .range__text-container{
        width: 100%;
    }
}

.range__title{
    display: flex;
    padding-bottom: $range__title--padding-bot;
}

.range__image-container{
    width: 44.5%;
    display: block;
}

@media (max-width: 1200px) {
    .range__image-container{
        width: 100%;
    }
}

.range{
    padding-top: $range--padding-top-bot;
    padding-bottom: $range--padding-top-bot;
}


//------------FOOTER------------

.footer{
  display: flex;
  justify-content: flex-end;
  background-color: $contact-footer-bg-color;
  padding-top: $contact-footer-padding;
  padding-bottom: $contact-footer-padding;
  font-size: $footer-font-size;
}

.footer__text{
    color: #6b79ab;
}