@import "fonts";
@import "variables";

img {
    max-width:100%;
    height:auto;
}

a:link{
    color: $text-color-main;
}

.container-bg{
  padding-left: 7%;
  padding-right: 7%;
  height: 100%;
}

.container-sm{
  padding-left: 14%;
  padding-right: 14%;
}

.nav__links-container, .range__text-container{
    width: 59.5%;
}

.nav__logo-container, .welcome__text, .range__image-container{
    width: 39.5%;
}


//------------NAV------------

.nav{
    display: flex;
    min-height: 50px;
//    height: 20vh;
    padding-top: $nav-padding-top;
}

.nav__logo-container{
}

.nav__links-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.nav__links{
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase
}

.nav__links li{
    float: left;
}

.nav li a{
    display: block;
    padding: 14px 16px;
    color: $text-color-main;
}



//------------WELCOME------------

.welcome{
    background-image: url(../../public/image/welcome2.jpg);
    background-size: cover;
    background-position: top center;
    min-height: 107vh;
    color: $text-color-main;
}

.welcome__text{
//    width: 50%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.welcome__title{
    font-weight: bold;
    font-size: $h1;
}

.welcome__caption{
    font-size: $welcome_p_font_size;
}



//------------CONTACT------------

.contact{
    background-color: $contact-footer-bg-color;
    color: $text-color-main;
}

.contact__elements{
  display: flex;
  align-items: center;
}

.contact__el{
//    display: inline-block;
    display: flex;
    align-items: center;
    padding-top: $contact-footer-padding;
    padding-bottom: $contact-footer-padding;
    padding-right: 60px;
}

.el__img{
    padding-right: $el__img--padding-right;
}



//------------ABOUT------------

.about{
    padding-top: $about--padding-top;
    padding-bottom: $about--padding-bottom;
}

.about__title{
    padding-bottom: $about__title--padding-bot;
    color: $about__title--color;
}

.about__caption{
    color: $about__caption--color;
}



//------------SERVICES------------

.services-all{
    display: flex;
}

.services__container{
    display: inline-block;
    padding-right: $services__container--padding-right;
    width: $services__container--width;
}

.services__icon{
    padding-top: $services__icon--padding-top;
    padding-bottom: $services__icon--padding-bot;
}

//------------RANGE------------

.range__text-container{
//    display: inline-block;
    width: 59.5%;
}

.range__image-container{
//    display: inline-block;
    width: 39.5%;
}

.range{
    padding-top: $range--padding-top-bot;
    padding-bottom: $range--padding-top-bot;
}

.range__text-container{
    display: flex;
    align-items: center;
}

.range__title{
    padding-bottom: 80px;
}

.range__text-container {
/*
  display: flex;
  align-items: center;
    flex-direction: column;
    justify-content: center;
*/
}

//range__image-container{
//    padding-left: $range__image-container--padding-left;
//}

//------------FOOTER------------

.footer{
  background-color: $contact-footer-bg-color;
  padding-top: $contact-footer-padding;
  padding-bottom: $contact-footer-padding;
}

.footer__text{
    float: right;
    color: #6b79ab;
}