body {
  font-family: 'Montserrat'; }

p {
  line-height: 2em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h2 {
  font-size: 2em; }

img {
  max-width: 100%;
  height: auto; }

a:link {
  color: #ffffff; }

.flex {
  display: flex; }

@media (max-width: 1200px) {
  .flex {
    display: block; } }
.container-bg {
  padding-left: 6%;
  padding-right: 6%;
  height: 100%; }

.container-sm {
  padding-left: 12%;
  padding-right: 12%; }

.nav__links-container {
  width: 59.5%; }

.nav__logo-container, .welcome__text {
  width: 39.5%; }

.nav {
  display: flex;
  min-height: 50px;
  padding-top: 15px; }

.nav__links-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end; }

.nav__links {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase; }

.nav__links li {
  float: left;
  -webkit-transition: all 150ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 150ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 150ms ease-in;
  -moz-transform: scale(1);
  transition: all 150ms ease-in;
  transform: scale(1); }

.nav__links li:hover {
  z-index: 2;
  -webkit-transition: all 150ms ease-in;
  -webkit-transform: scale(1.15);
  -ms-transition: all 150ms ease-in;
  -ms-transform: scale(1.15);
  -moz-transition: all 150ms ease-in;
  -moz-transform: scale(1.15);
  transition: all 150ms ease-in;
  transform: scale(1.15); }

.nav li a {
  display: block;
  padding: 14px 16px;
  color: #ffffff; }

.welcome {
  background-image: url(../../public/image/welcome2.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 107vh;
  color: #ffffff; }

.welcome__text {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (max-width: 992px) {
  .welcome__text {
    width: 100%; } }
.welcome__title {
  font-weight: bold;
  font-size: 4em; }

.welcome__caption {
  font-size: 1.5em; }

.contact {
  background-color: #001560;
  color: #ffffff; }

.contact__elements {
  display: flex;
  align-items: center; }

.contact__el {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 60px; }

.el__img {
  padding-right: 5px; }

.about {
  padding-top: 130px;
  padding-bottom: 100px; }

.about__title {
  padding-bottom: 30px;
  color: #282828; }

.about__caption {
  color: #707070; }

.services-all {
  display: flex; }

@media (max-width: 992px) {
  .services-all {
    display: block; } }
.services__container {
  display: inline-block;
  padding-right: 9.5%;
  width: 14%; }

@media (max-width: 768px) {
  .services__container {
    padding-right: 28%;
    width: 19%; } }
.services__icon {
  padding-top: 65px;
  padding-bottom: 50px; }

.range__text-container {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: padding-box;
  width: 49.5%;
  padding-right: 5%;
  padding-bottom: 20px; }

@media (max-width: 1200px) {
  .range__text-container {
    width: 100%; } }
.range__title {
  display: flex;
  padding-bottom: 70px; }

.range__image-container {
  width: 44.5%;
  display: block; }

@media (max-width: 1200px) {
  .range__image-container {
    width: 100%; } }
.range {
  padding-top: 220px;
  padding-bottom: 220px; }

.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #001560;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0.65em; }

.footer__text {
  color: #6b79ab; }

/*# sourceMappingURL=styles.css.map */
