body {
  font-family: 'Montserrat'; }

p {
  line-height: 2em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h2 {
  font-size: 2em; }

img {
  max-width: 100%;
  height: auto; }

a:link {
  color: #ffffff; }

.container-bg {
  padding-left: 7%;
  padding-right: 7%;
  height: 100%; }

.container-sm {
  padding-left: 14%;
  padding-right: 14%; }

.nav__links-container, .range__text-container {
  width: 59.5%; }

.nav__logo-container, .welcome__text, .range__image-container {
  width: 39.5%; }

.nav {
  display: flex;
  min-height: 50px;
  padding-top: 15px; }

.nav__links-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end; }

.nav__links {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase; }

.nav__links li {
  float: left;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1); }

.nav__links li:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.15);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.15);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.15);
  transition: all 200ms ease-in;
  transform: scale(1.15); }

.nav li a {
  display: block;
  padding: 14px 16px;
  color: #ffffff; }

.welcome {
  background-image: url(../../public/image/welcome2.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 107vh;
  color: #ffffff; }

.welcome__text {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.welcome__title {
  font-weight: bold;
  font-size: 4em; }

.welcome__caption {
  font-size: 1.5em; }

.contact {
  background-color: #001560;
  color: #ffffff; }

.contact__elements {
  display: flex;
  align-items: center; }

.contact__el {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 60px; }

.el__img {
  padding-right: 5px; }

.about {
  padding-top: 130px;
  padding-bottom: 100px; }

.about__title {
  padding-bottom: 30px;
  color: #282828; }

.about__caption {
  color: #707070; }

.services-all {
  display: flex; }

.services__container {
  display: inline-block;
  padding-right: 9.5%;
  width: 14%; }

.services__icon {
  padding-top: 65px;
  padding-bottom: 50px; }

.range__text-container {
  width: 59.5%; }

.range__image-container {
  width: 39.5%; }

.range {
  padding-top: 240px;
  padding-bottom: 240px; }

.range__text-container {
  display: inline-block; }

.range__title {
  padding-bottom: 80px; }

.range__text-container {
  /*
    display: flex;
    align-items: center;
      flex-direction: column;
      justify-content: center;
  */ }

.range__image-container {
  display: inline-block; }

.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #001560;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0.65em; }

.footer__text {
  color: #6b79ab; }

/*# sourceMappingURL=styles.css.map */
